.charts-container {
    margin-top: -100px;
    background-image: url('./../assets/pics/abstract-abstraction-artistic-1044988.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 50px;
    padding-top: 100px;
}

@media (max-width: 600px) {
    .charts-container {
        padding: 5px;
    }
}